/*Modificando mi primera web*/

/*General*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../Img/portada\ timbo.jpg");
    background-attachment: fixed;
    margin: 20px;
}
li{
    List-style-type: none;
}

/*TIMBO*/
.botonIngreso {
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    box-shadow: rgb(54, 61, 54) 3px 1px;
    justify-items: center;
    margin: 200px;
    /*justify-content: center;
    align-items: center;*/
}

/*PRINCIPAL*/
header{
    width: 100%;
    max-width: 1400px;
    background-color: rgba(201, 209, 216, 0.945);
    border-radius: 10px;
}
/*main{
    background-color: rgba(201, 209, 216, 0.945);
    border-radius: 10px;
}*/
aside{
    width: 100%;
    max-width: 1400px;
    background-color: rgba(201, 209, 216, 0.945);
    border-radius: 10px;
    font-size: 0.3cm;
}
footer{
    /*width: 100%;*/
    max-width: 1400px;
    background-color: rgba(201, 209, 216, 0.945);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
}
h1 {
    text-shadow: rgb(120, 122, 120) 3px 1px;
    display: flex;
    justify-content: center;
}
h2 {
    font-size: 0.5cm;
    display: flex;
    justify-content: center;
}
.botones{
    background-image: url(../Img/timbo\ boton.jpeg);
    padding: 5px;
    margin: 10px;
    /*display: flex;
    flex-direction:row;*/
}

/*página de contacto*/
.contacto {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2em;
    margin: 0.5em;
    background-color: rgba(201, 209, 216, 0.945);
    border: 2px solid;
    border-radius: 10px;
}

.boton_return_de_contacto {
    display: flex;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: rgb(54, 61, 54) 3px 1px;
    justify-items: center;
    margin-top: auto;
}

/*otra_seccion*/
.boton_otra_seccion{
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    box-shadow: rgb(54, 61, 54) 3px 1px;
    justify-items: center;
    margin: 200px;
}