/*Modificando mi primera web*/

/*General*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../Img/portada\ timbo.jpg");
    background-attachment: fixed;
    margin: 20px;
}
li{
    List-style-type: none;
}

/*TIMBO*/
.botonIngreso {
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    box-shadow: rgb(54, 61, 54) 3px 1px;
    justify-items: center;
    margin: 200px;
}

/*PRINCIPAL*/
header{
    width: 100%;
    max-width: 1400px;
    background-color: rgba(232, 239, 245, 0.486);
    border-radius: 10px;
}
main{
    margin-top: 2em;
}
aside{
    width: 100%;
    max-width: 1400px;
    background-color: rgba(232, 239, 245, 0.486);
    border-radius: 10px;
    font-size: 0.3cm;
    padding: 3px;
    margin-top: 4em;
}
footer{
    background-color: rgba(232, 239, 245, 0.486);
    border-radius: 10px;
    font-size: 10px;
    padding: 3px;
    margin-top: 0.5em;
}
h1 {
    text-shadow: rgb(213, 216, 213) 3px 1px;
    display: flex;
    justify-content: center;
}
h2 {
    font-size: 0.5cm;
    text-shadow: rgb(213, 216, 213) 3px 1px;
    display: flex;
    justify-content: center;
}
.botones{
    background-image: url(../Img/timbo\ boton.jpeg);
    padding: 4px;
    margin: 2.5em;
    display: inline;
}
#whatsapp {
    border-radius: 15px;
    border-color: white;
    margin-top: 1em;
}

/*página de contacto*/
.contacto {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2em;
    margin: 0.5em;
    background-color: rgba(232, 239, 245, 0.486);
    border: 2px solid;
    border-radius: 10px;
}

.boton_return_de_contacto {
    display: flex;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: rgb(54, 61, 54) 3px 1px;
    justify-items: center;
    margin-top: auto;
}

/*otra_seccion*/
.boton_otra_seccion{
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    box-shadow: rgb(54, 61, 54) 3px 1px;
    justify-items: center;
    margin: 30px;
}